USE [master]
GO
/****** Object:  Database [CicekSepetiDB]    Script Date: 4.12.2025 09:12:50 ******/
CREATE DATABASE [CicekSepetiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CicekSepetiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CicekSepetiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CicekSepetiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CicekSepetiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CicekSepetiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CicekSepetiDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IndirimliFiyat]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Fonksiyon 3: Basit bir toplama fonksiyonu (Ödevde "amaç kolaylık olmalı" denmiş)
CREATE FUNCTION [dbo].[fn_IndirimliFiyat](@Fiyat DECIMAL(18,2))
RETURNS DECIMAL(18,2)
AS
BEGIN
    RETURN @Fiyat * 0.90 -- %10 indirimli hali
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KDVHesapla]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Fonksiyon 1: KDV Dahil Fiyat Hesapla
CREATE FUNCTION [dbo].[fn_KDVHesapla](@Fiyat DECIMAL(18,2))
RETURNS DECIMAL(18,2)
AS
BEGIN
    RETURN @Fiyat * 1.20 -- %20 KDV
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_StokDurumu]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Fonksiyon 2: Stok Durumunu Metin Olarak Döndür
CREATE FUNCTION [dbo].[fn_StokDurumu](@Stok INT)
RETURNS NVARCHAR(20)
AS
BEGIN
    DECLARE @Durum NVARCHAR(20)
    IF @Stok < 10 SET @Durum = 'Kritik Seviye'
    ELSE SET @Durum = 'Yeterli'
    RETURN @Durum
END
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](500) NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[Stok] [int] NOT NULL,
	[ResimUrl] [nvarchar](250) NULL,
	[KategoriID] [int] NULL,
	[OrtalamaPuan] [decimal](3, 2) NULL,
	[YorumSayisi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[UyeID] [int] NULL,
	[Tarih] [datetime] NULL,
	[ToplamTutar] [decimal](18, 2) NULL,
	[Durum] [nvarchar](50) NULL,
	[UrunID] [int] NULL,
	[TeslimTarihi] [nvarchar](50) NULL,
	[TeslimSaati] [nvarchar](50) NULL,
	[SiparisNotu] [nvarchar](250) NULL,
	[SiparisDurumu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SiparisDetaylari]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View 1: Siparişleri detaylı gösteren sanal tablo
CREATE VIEW [dbo].[vw_SiparisDetaylari] AS
SELECT s.SiparisID, u.UrunAdi, s.ToplamTutar, s.Tarih, s.Durum 
FROM Siparisler s
JOIN Urunler u ON s.UrunID = u.UrunID;
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SilinenUrunLog]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SilinenUrunLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](100) NULL,
	[SilinmeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[UyeID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Sifre] [nvarchar](50) NULL,
	[Adres] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[YorumID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[AdSoyad] [nvarchar](50) NULL,
	[Yorum] [nvarchar](500) NULL,
	[Puan] [int] NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SilinenUrunLog] ON 

INSERT [dbo].[SilinenUrunLog] ([LogID], [UrunAdi], [SilinmeTarihi]) VALUES (1, N'Şans Getiren Kokina', CAST(N'2025-11-29T20:49:47.017' AS DateTime))
INSERT [dbo].[SilinenUrunLog] ([LogID], [UrunAdi], [SilinmeTarihi]) VALUES (2, N'Pembe Kasımpatı Aranjmanı', CAST(N'2025-11-29T20:49:54.977' AS DateTime))
INSERT [dbo].[SilinenUrunLog] ([LogID], [UrunAdi], [SilinmeTarihi]) VALUES (3, N'Kırmızı Gül', CAST(N'2025-11-29T21:00:00.740' AS DateTime))
SET IDENTITY_INSERT [dbo].[SilinenUrunLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparisler] ON 

INSERT [dbo].[Siparisler] ([SiparisID], [UyeID], [Tarih], [ToplamTutar], [Durum], [UrunID], [TeslimTarihi], [TeslimSaati], [SiparisNotu], [SiparisDurumu]) VALUES (10, 1, CAST(N'2025-11-23T21:19:52.700' AS DateTime), CAST(280.00 AS Decimal(18, 2)), N'Hazırlanıyor', 6, NULL, NULL, NULL, NULL)
INSERT [dbo].[Siparisler] ([SiparisID], [UyeID], [Tarih], [ToplamTutar], [Durum], [UrunID], [TeslimTarihi], [TeslimSaati], [SiparisNotu], [SiparisDurumu]) VALUES (11, 1, CAST(N'2025-11-24T11:15:15.420' AS DateTime), CAST(340.00 AS Decimal(18, 2)), N'Hazırlanıyor', 5, NULL, NULL, NULL, NULL)
INSERT [dbo].[Siparisler] ([SiparisID], [UyeID], [Tarih], [ToplamTutar], [Durum], [UrunID], [TeslimTarihi], [TeslimSaati], [SiparisNotu], [SiparisDurumu]) VALUES (13, 1, CAST(N'2025-11-24T23:15:19.830' AS DateTime), CAST(420.00 AS Decimal(18, 2)), N'Onay Bekliyor', 4, N'Bugün', N'09:00 - 12:00', NULL, N'Onay Bekliyor')
SET IDENTITY_INSERT [dbo].[Siparisler] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Aciklama], [Fiyat], [Stok], [ResimUrl], [KategoriID], [OrtalamaPuan], [YorumSayisi]) VALUES (4, N'Kırmızı Gül ve Çikolata', N'Romantik bir hediye seti.', CAST(420.00 AS Decimal(18, 2)), 34, N'/img/gul.jpg', NULL, NULL, NULL)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Aciklama], [Fiyat], [Stok], [ResimUrl], [KategoriID], [OrtalamaPuan], [YorumSayisi]) VALUES (5, N'Karışık Mevsim Buketi', N'Renkli gerberalar ve güller.', CAST(340.00 AS Decimal(18, 2)), 38, N'/img/mevsim.jpg', NULL, CAST(5.00 AS Decimal(3, 2)), 2)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Aciklama], [Fiyat], [Stok], [ResimUrl], [KategoriID], [OrtalamaPuan], [YorumSayisi]) VALUES (6, N'Peluş Ayıcık', N'50 cm sevimli kahverengi ayıcık.', CAST(280.00 AS Decimal(18, 2)), 98, N'/img/ayicik.jpg', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
SET IDENTITY_INSERT [dbo].[Uyeler] ON 

INSERT [dbo].[Uyeler] ([UyeID], [Ad], [Soyad], [Email], [Sifre], [Adres]) VALUES (1, N'Merve', N'Özcan', N'merve@test.com', N'12345', N'ERZURUM')
SET IDENTITY_INSERT [dbo].[Uyeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yorumlar] ON 

INSERT [dbo].[Yorumlar] ([YorumID], [UrunID], [AdSoyad], [Yorum], [Puan], [Tarih]) VALUES (3, 9, N'Merve', NULL, 4, CAST(N'2025-11-29T23:29:18.927' AS DateTime))
INSERT [dbo].[Yorumlar] ([YorumID], [UrunID], [AdSoyad], [Yorum], [Puan], [Tarih]) VALUES (4, 10, N'Merve', NULL, 3, CAST(N'2025-11-30T15:26:51.593' AS DateTime))
INSERT [dbo].[Yorumlar] ([YorumID], [UrunID], [AdSoyad], [Yorum], [Puan], [Tarih]) VALUES (1004, 5, N'Merve', NULL, 5, CAST(N'2025-12-02T22:17:14.723' AS DateTime))
SET IDENTITY_INSERT [dbo].[Yorumlar] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Uyeler__A9D105343C94A371]    Script Date: 4.12.2025 09:12:50 ******/
ALTER TABLE [dbo].[Uyeler] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SilinenUrunLog] ADD  DEFAULT (getdate()) FOR [SilinmeTarihi]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ('Onay Bekliyor') FOR [SiparisDurumu]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [OrtalamaPuan]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [YorumSayisi]
GO
ALTER TABLE [dbo].[Yorumlar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([UyeID])
REFERENCES [dbo].[Uyeler] ([UyeID])
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Urunler]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Uyeler] FOREIGN KEY([UyeID])
REFERENCES [dbo].[Uyeler] ([UyeID])
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Uyeler]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Urunler]
GO
/****** Object:  StoredProcedure [dbo].[sp_FiyatGuncelle]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 5: Bir ürüne belirli bir oranda (%10, %20 gibi) zam yapar
CREATE PROCEDURE [dbo].[sp_FiyatGuncelle]
    @UrunID INT,
    @Oran DECIMAL(5,2) -- Örn: 1.10 (%10 zam)
AS
BEGIN
    UPDATE Urunler 
    SET Fiyat = Fiyat * @Oran 
    WHERE UrunID = @UrunID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KategoriUrunleri]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP 3: Kategori ID'sine göre o kategorideki ürünleri getirir
CREATE PROCEDURE [dbo].[sp_KategoriUrunleri]
    @KategoriID INT
AS
BEGIN
    SELECT * FROM Urunler WHERE KategoriID = @KategoriID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SiparisVer]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Mevcut SP'yi güncelliyoruz (ALTER komutu ile)
CREATE   PROCEDURE [dbo].[sp_SiparisVer]
    @UrunID INT,
    @UyeID INT,
    @Tutar DECIMAL(18,2),
    @TeslimTarihi NVARCHAR(50), -- Yeni: Bugün, Yarın vb.
    @TeslimSaati NVARCHAR(50),  -- Yeni: 09:00-12:00 vb.
    @SiparisNotu NVARCHAR(250)  -- Yeni: Kart notu
AS
BEGIN
    -- Siparişi detaylarıyla kaydediyoruz
    INSERT INTO Siparisler (UrunID, UyeID, ToplamTutar, Durum, Tarih, TeslimTarihi, TeslimSaati, SiparisNotu)
    VALUES (@UrunID, @UyeID, @Tutar, 'Onay Bekliyor', GETDATE(), @TeslimTarihi, @TeslimSaati, @SiparisNotu)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SonEklenenler]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 4: Veritabanına en son eklenen 5 ürünü getirir
CREATE PROCEDURE [dbo].[sp_SonEklenenler]
AS
BEGIN
    SELECT TOP 5 * FROM Urunler ORDER BY UrunID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UrunAra]    Script Date: 4.12.2025 09:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UrunAra]
    @Kelime NVARCHAR(50)
AS
BEGIN
    SELECT * FROM Urunler
    WHERE UrunAdi LIKE '%' + @Kelime + '%' OR Aciklama LIKE '%' + @Kelime + '%'
END
GO
USE [master]
GO
